<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filePath" value="c:\data\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="sandman_gs@hotmail.com"/>
    <add key="senderDisplayName" value="Greg Sanders"/>
    <add key="smsAccountSid" value="ACf82f52d69473455b75c8758adde840d7"/>
    <add key="smsAuthToken" value="a0dd988d4e6e0f918cbcd0d1f15b3b32"/>
    <add key="smsFromPhoneNumber" value="817 873-6353"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=localhost;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp-mail.outlook.com" userName="sandman_gs@hotmail.com" password="north*bulldogs" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
